@model Room
@{
    ViewBag.Title = "Create";
}

<div class="page">
    <div id="room">

        <div class="header">
            <div class="row">
                <div class="col-6">
                    <h1>Otaq Əlavə et</h1>
                </div>

            </div>
        </div>



        <div class="create">
            <form method="post" enctype="multipart/form-data" class="col-md-12">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.Number)
                        @Html.TextBoxFor(m => m.Number, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.BedTypeId)
                        @Html.DropDownListFor(m => m.BedTypeId, new SelectList(ViewBag.BedTypes, "id", "typename"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BedTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.PersonCapacity)
                        @Html.TextBoxFor(m => m.PersonCapacity, null, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(m => m.PersonCapacity, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.ChildCapacity)
                        @Html.TextBoxFor(m => m.ChildCapacity, null, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(m => m.ChildCapacity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.File)
                        @Html.TextBoxFor(m => m.File, null, new { @class = "form-control", @type = "file" })
                        @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-3">
                    @Html.LabelFor(m => m.Desc)
                    @Html.TextAreaFor(m => m.Desc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Desc, "", new { @class = "text-danger" })
                </div>
                <div class="form-row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Əlavə et</button>

                    </div>
                </div>
            </form>
        </div>
        @Html.ActionLink("Geriyə qayıt", "index")
    </div>
</div>