@model Room
@{
    ViewBag.Title = "Index";
}

<div class="page">
    <div id="room">
        <div class="header">
            <div class="col-12 mb-3">
                <h1>Otaq haqqında</h1>
            </div>
        </div>


        <div class="detail">
            <form method="post" enctype="multipart/form-data" class="col-lg-10">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="Photo" value="@Model.Photo" />
                <div class="form-row">
                    <div class="form-group col-lg-7">
                        <div class="photo">
                            <img src="~/Upload/@Model.Photo" alt="" height="350" width="350">
                        </div>
                    </div>
                    <div class="col-lg-5"><div class="jumbotron">
                                              <p class="lead">
                                                  <div><b>Otaq Nömrəsi:</b> @Model.Number</div>
                                                  <div><b>Böyük sayı</b>: @Model.PersonCapacity nəfər</div>
                                                  <div><b>Uşaq Sayı</b>: @Model.ChildCapacity nəfər</div>
                                                  <div><b>Çarpayı növü:</b> @Model.BedType.TypeName</div>
                                                  <div><b>Otaq haqqında</b> @Model.Desc</div>
                                                  <div><b>Günlük qiyməti</b> @Model.Price.ToString("0.00") AZN</div></p>
                       @if (Model.IsDeleted == false) { <a class="btn btn-success btn-lg" href="@Url.Action("create","booking")" role="button">Book Now</a>} 
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p class="mt-3">

            @Html.ActionLink("Geriyə qayıt", "index")
        </p>
        </div></div>