@model Room
@{
    ViewBag.Title = "Edit";
}

<div class="page">
    <div id="room">

        <div class="header">

            <div class="col-6">
                <h1>Otağı Yenilə</h1>
            </div>

        </div>



        <div class="create">
            <form method="post" enctype="multipart/form-data" class="col-md-8">
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="Photo" value="@Model.Photo" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Number)
                        @Html.TextBoxFor(m => m.Number, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.BedTypeId)
                        @Html.DropDownListFor(m => m.BedTypeId, new SelectList(ViewBag.BedTypes, "id", "typename"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.BedTypeId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.PersonCapacity)
                        @Html.TextBoxFor(m => m.PersonCapacity, null, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(m => m.PersonCapacity, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.ChildCapacity)
                        @Html.TextBoxFor(m => m.ChildCapacity, null, new { @class = "form-control", @type = "number" })
                        @Html.ValidationMessageFor(m => m.ChildCapacity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Photo)
                        @Html.TextBoxFor(m => m.File, null, new { @class = "form-control", @type = "file" })
                        @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, null, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-10">
                    @Html.LabelFor(m => m.Desc)
                    @Html.TextAreaFor(m => m.Desc, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Desc, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Status)
                    @Html.DropDownListFor(model => model.Status, new List<SelectListItem>()
                    {new SelectListItem() { Text = "Boş", Value = "True" },new SelectListItem()
                    { Text = "Dolu", Value = "False"}}, new { @id = "status", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status)
                </div>
                <div class="form-row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success">Yenilə</button>

                    </div>
                </div>
            </form>
        </div>
        @Html.ActionLink("Geriyə qayıt", "index")
    </div>
</div>