@model IEnumerable<HotelsA.Models.Room>

@{
    ViewBag.Title = "Index";
}

<div class="page">
    <p>

        <a href="@Url.Action("create", "rooms")" class="btn btn-primary">Otaq əlavə et</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BedType.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BedType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PersonCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChildCapacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Desc)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-secondary far fa-edit bigger-10" })
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-mini btn-info fas fa-info-circle bigger-10" })
                    <a onclick="return confirm('Are you sure to delete Room No: @item.Number?')" href="@Url.Action("delete", new { id=item.Id})" class="btn btn-danger">Delete</a>
                    


                </td>

                
            </tr>
        }

    </table>
</div>


