@model IEnumerable<HotelsA.Models.UserRol>

@{
    ViewBag.Title = "Index";
}


<div class="page col-md-6"><h2>Vəzifələr</h2>
    <p>
        <a href="@Url.Action("create", "userrols")" class="btn btn-primary">Yeni vəzifə</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserType)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserType)
                </td>
                <td>
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-secondary far fa-edit bigger-10" })
                    <a onclick="return confirm('Silməyə əminsiniz? ')" href="@Url.Action("delete", new { id=item.Id})" class="far fa-trash-alt btn btn-danger"></a>
                </td>
            </tr>
        }

    </table>
</div>
