<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Webpixels">
    @*<link rel="icon" href="favicon.ico" type="image/x-icon">*@
    <title>:: BigBucket :: </title>

    <link rel="stylesheet" href="~/Public/vendor/themify-icons/themify-icons.css">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="~/Public/vendor/fullcalendar/fullcalendar.min.css">
    
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Public/css/main.css" type="text/css">
</head>
<body class="theme-indigo">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="m-t-30"><img src="~/Public/images/brand/icon_black.svg" width="48" height="48" alt="ArrOw"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <nav class="navbar custom-navbar navbar-expand-lg py-2">
        <div class="container-fluid px-0">
            <a href="javascript:void(0);" class="menu_toggle"><i class="fa fa-align-left"></i></a>
            <a href="@Url.Action("index","home")" class="navbar-brand">
                <img src="~/Public/images/brand/icon.svg" alt="BigBucket" />
                <strong>Big</strong> Bucket
            </a>
            <div id="navbar_main">

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link nav-link-icon" href="#"><i class="fa fa-cogs"></i></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-icon" href="#" id="navbar_1_dropdown_2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bell"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-xl py-0">
                            <div class="py-3 px-3">
                                <h5 class="heading h6 mb-0">
                                    Notifications <span class="badge badge-pill badge-primary text-uppercase float-right">3</span>
                                </h5>
                            </div>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action d-flex">
                                    <div class="list-group-img"><span class="avatar bg-purple">JD</span></div>
                                    <div class="list-group-content">
                                        <div class="list-group-heading">Johnyy Depp <small>10:05 PM</small></div>
                                        <p class="text-sm">Lorem ipsum dolor consectetur adipiscing eiusmod tempor</p>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex">
                                    <div class="list-group-img"><span class="avatar bg-pink">TC</span></div>
                                    <div class="list-group-content">
                                        <div class="list-group-heading">Tom Cruise <small>10:05 PM</small></div>
                                        <p class="text-sm">Lorem ipsum dolor sit amet consectetur eiusmod tempor</p>
                                    </div>
                                </a>
                                <a href="#" class="list-group-item list-group-item-action d-flex">
                                    <div class="list-group-img"><span class="avatar bg-blue">WS</span></div>
                                    <div class="list-group-content">
                                        <div class="list-group-heading">Will Smith <small>10:05 PM</small></div>
                                        <p class="text-sm">Lorem sit amet consectetur adipiscing eiusmod tempor</p>
                                    </div>
                                </a>
                            </div>
                            <div class="py-3 text-center">
                                <a href="#" class="link link-sm link--style-3">View all notifications</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link nav-link-icon" href="#" id="navbar_1_dropdown_3" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <h6 class="dropdown-header">User menu</h6>
                            <a class="dropdown-item" href="#"><i class="fa fa-user text-primary"></i>My Profile</a>
                            <a class="dropdown-item" href="#">
                                <span class="float-right badge badge-success">$50K</span><i class="fa fa-briefcase text-primary"></i>My Balance
                            </a>
                            <a class="dropdown-item" href="#">
                                <span class="float-right badge badge-warning">4</span><i class="fa fa-envelope text-primary"></i>Inbox
                            </a>
                            <a class="dropdown-item" href="#"><i class="fa fa-cog text-primary"></i>Settings</a>
                            <div class="dropdown-divider" role="presentation"></div>
                            <a class="dropdown-item" href="@Url.Action("logout","user")"><i class="fa fa-briefcase text-primary"></i>Çıxış</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main_content" id="main-content">

        <div class="left_sidebar">
            <nav class="sidebar">
                <div class="user-info">
                    <div class="image"><a href="#"><img src="~/Public/images/user.png" alt="User"></a></div>
                    <div class="detail mt-3">
                        <h5 class="mb-0">Mike Thomas</h5>
                        <small>Admin</small>
                    </div>
                    <div class="social">
                        <a href="javascript:void(0);" title="facebook"><i class="ti-twitter-alt"></i></a>
                        <a href="javascript:void(0);" title="twitter"><i class="ti-linkedin"></i></a>
                        <a href="javascript:void(0);" title="instagram"><i class="ti-facebook"></i></a>
                    </div>
                </div>
                <ul id="main-menu" class="metismenu">
                    <li class="g_heading">Main</li>
                    <li><a href="@Url.Action("index","home")"><i class="ti-calendar"></i><span>Əsas Səhifə</span></a></li>
                    <li><a href="@Url.Action("index","customers")"><i class="ti-home"></i><span>Müştərilər</span></a></li>
                    <li class="g_heading">Restoran</li>
                    <li>
                        <a href="javascript:void(0)" class="has-arrow"><i class="ti-pie-chart"></i><span>Restoran</span></a>
                        <ul>
                            <li><a href="@Url.Action("index","foods")"><i class="ti-comments"></i><span>Qidalar</span></a></li>
                            <li><a href="@Url.Action("index","categories")"><i class="ti-pencil-alt"></i><span>Kateqoriyar</span></a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="has-arrow"><i class="ti-pencil-alt"></i><span>Admin</span></a>
                        <ul>
                            <li><a href="@Url.Action("index","users")"><i class="ti-user"></i><span>İstifadəçilər</span></a></li>

                            <li><a href="@Url.Action("index","userrols")"><i class="ti-notepad"></i><span>Vəzifələr</span></a></li>

                        </ul>
                    </li>
                    <li class="g_heading">Application</li>
                    <li><a href="@Url.Action("index","rooms")"><i class="ti-email"></i><span>Otaqlar</span></a></li>
                    <li><a href="@Url.Action("index","user")"><i class="ti-id-badge"></i><span>Login</span></a></li>



                </ul>
            </nav>
        </div>

        @RenderBody()

    </div>

    <!-- Core -->
    <script src="~/Public/bundles/libscripts.bundle.js"></script>
    <script src="~/Public/bundles/vendorscripts.bundle.js"></script>
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <script src="~/Public/bundles/fullcalendarscripts.bundle.js"></script><!--/ calender javascripts -->
    <!-- Theme JS -->
    <script src="~/Public/js/theme.js"></script>
    <script src="~/Public/js/pages/calendar.js"></script>
</body>

</html>