@model IEnumerable<HotelsA.Models.Category>

@{
    ViewBag.Title = "Index";
}


    <div class="page">
        <h2>Kateqoriyalar</h2><p>
    <a href="@Url.Action("create", "categories")" class="btn btn-primary">Yeni Kateqoriya</a>
</p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-secondary far fa-edit bigger-10" })
                        @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-mini btn-danger far fa-trash-alt icon-edit bigger-10" })
                    </td>
                </tr>
            }

        </table>
    </div>
