@model HotelsA.Models.Customer

@{
    ViewBag.Title = "Delete";
}

    <div class="page col-md-4">
        <h2>Müştərini Silməyə Əminsiz</h2>
        <hr />
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Fullname)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fullname)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Phonenumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phonenumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Passportcode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Passportcode)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions">
                    <input type="submit" value="Delete" class="btn btn-danger" />

                </div>
                <div class="mt-3">@Html.ActionLink("Geriyə qayıt", "index")</div>
            }

