@model IEnumerable<HotelsA.Models.Customer>

@{
    ViewBag.Title = "Index";
}



<div class="page">
    <h2>Müştərilərin Siyahısı</h2>
    <p>
        <a href="@Url.Action("create", "customers")" class="btn btn-primary">Yeni Müştəri</a>
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fullname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phonenumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passportcode)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phonenumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passportcode)
                </td>
                <td>
                   
                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-secondary far fa-edit bigger-10" })
                    @Html.ActionLink(" ", "Details", new { id = item.Id }, new { @class = "btn btn-mini btn-info fas fa-info-circle bigger-10" })
                    @Html.ActionLink(" ", "Delete", new { id = item.Id }, new { @class = "btn btn-mini btn-danger far fa-trash-alt icon-edit bigger-10" })

                </td>
                

            </tr>
        }

    </table>
</div>
