@model Booking
@{
    ViewBag.Title = "Edit";
}

<div class="page">
    <div id="booking">

        <div class="header">

            <div class="col-6">
                <h1>Booking Yenilə</h1>
            </div>
        </div>

        <div class="create col-md-5">
            <form method="post">
                <input type="hidden" name="Id" value="@Model.Id" />
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div>Otaq Nömrəsi</div>
                        @Html.DropDownListFor(m => m.RoomId, new SelectList(ViewBag.Rooms, "id", "number"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.RoomId, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.CheckedIn)
                        @Html.TextBoxFor(m => m.CheckedIn, null, new { @class = "min form-control", @min = DateTime.Now.ToString("dd/MM/yyyy"), @max = DateTime.Now.AddMonths(3).ToString("dd-MM-yyyy"), @type = "date" })
                        @Html.ValidationMessageFor(m => m.CheckedIn, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(m => m.CheckedOut)
                        @Html.TextBoxFor(m => m.CheckedOut, null, new { @class = "max form-control", @min = DateTime.Now.ToString("dd/MM/yyyy"), @max = DateTime.Now.AddMonths(3).ToString("dd-MM-yyyy"), @type = "date" })
                        @Html.ValidationMessageFor(m => m.CheckedOut, "", new { @class = "text-danger" })
                    </div><div class="form-group">
    <div>Otağın 1 günlük qiyməti</div>
    @Html.DropDownListFor(m => m.RoomId, new SelectList(ViewBag.Rooms, "Id", "Price"), new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.RoomId, "", new { @class = "text-danger" })
</div>
                    <div class="form-group col-md-6">
                        <div>Müştəri</div>
                        @Html.DropDownListFor(m => m.CustomerId, new SelectList(ViewBag.Customers, "id", "fullname"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <div>Əlavə edən İstifadəçi</div>
                        @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.Users, "id", "fullname"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Yenilə</button>

                    </div>
                </div>
            </form>
        </div>
        @Html.ActionLink("Geriyə qayıt", "index")
    </div>
</div>