@model List<Category>
@{
    ViewBag.Title = "Index";
}

    <div class="page">
        <div id="category">

            <div class="header">
               
                    <div class="col-12">
                        <h1>Kateqoriyalar</h1>
                    </div>
                    <div class="col-md-3">
                        <a href="@Url.Action("create","category")" class="btn btn-primary">Kategoriya Əlavə et</a>
                    </div>

               
            </div>

            <div class="customer-list">
                <table class="table table-hover">
                    <thead>
                        <tr >
                           
                            <th>Ad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                
                                <td>
                                    <h6>@item.CategoryName</h6>
                                </td>
                                <td>

                                    @Html.ActionLink(" ", "Edit", new { id = item.Id }, new { @class = "btn btn-mini btn-secondary far fa-edit bigger-10" })

                                    <a onclick="return confirm('@item.CategoryName Silməyə əminsiniz? ')" href="@Url.Action("delete", new { id = item.Id })" class="far fa-trash-alt btn btn-danger"></a>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>



        </div>
    </div>



